@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
}
body{
    background-color: cornflowerblue;
}

.main{
    padding: 150px 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form{
    margin-bottom: 3rem;
    max-width: 550px;
    width: 90%;
    text-align: center;
}

form input, button{
    width: 90%;
    padding: 0.5rem 1.6rem;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 0.6rem;
    border: 0.5px solid gray;
}

form input{
    margin-bottom: 0.5rem;
}

form button{
    cursor: pointer;
    font-size: 1.4rem;
    background-color: black;
    font-weight: 600;
    color: white;
}
form button:hover{
    transition: all 0.2s;
    background-color: rgba(42, 42, 42, 0.647);
}

.card{
    display: none;
    background-color: white;
    max-width: 550px;
    width: 90%;
    border-radius: 2rem;
    overflow: hidden;
    border: 0.5px solid gray;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.h2{
    font-weight: 400;
    font-size: 1.2rem;
}

.card img{
    width: 120px;
    border-radius: 50%;
    margin-right: 120px;

}

.card-top{
    padding: 2rem 0;
    display: flex;
    gap: 1.6rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card-top h2:nth-child(1){
    font-weight: 600;
    font-size: 1.4rem;
}
.card-bottom{
    padding: 1rem;
}

.card h1{
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 2rem;
}

.random{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#notFound{
    width: 300px;
    border-radius: 2rem;

}
#errorMessage{
    text-align: center;
    font-weight: 500;
    color: rgb(222, 108, 108);
}

#loader, .notFound{
    display: none;
}






/*loader*/

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}